@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  --blue: rgba(70, 243, 234, 0);
  --active: rgba(70, 243, 234, 0);
  --activeb: rgba(70, 243, 234, 0);
  --font: rgba(70, 243, 234, 0);
  --hili: rgba(70, 243, 234, 0);
  --bod: rgb(124, 124, 124);
  --hilb: rgba(70, 243, 234, 0);
  --black: rgba(70, 243, 234, 0);
  --blackt: rgba(0, 0, 0, 0.164);
  --nav: rgba(70, 243, 234, 0); 
  --oo: #f5f5f5;
}

* {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--nav);
  padding: 0px 20px 20px 0px;
  height: 40px;
  display: inline;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0px -5px 10px;
}

body {
  margin: 0;
  background-color: var(--bod);
  overflow: hidden;
  transition: all 500ms ease-out;
}

.topnav {
  padding: 0px 0px 15px 0px;
  margin-right: 25px;
  float: right;
}

.navitems {
  transition: all 500ms ease-out;
  opacity: 1;
  display: block;
  padding: 22px 0px;
  height: 40px;
  width: 75px;
  text-align: center;
  display: inline;
  user-select: none;
  color: var(--font);
  float: right;
  font-family: "Major Mono Display", monospace;
  font-weight: 100;
  font-size: 0.75em;
}

nav #actn {
  color: var(--active);
  background-color: var(--activeb);
}

nav .navitems:hover{
  background-color: var(--hilb)!important;
  color: var(--hili)!important;
  transition: all 500ms ease-out;
  box-shadow: 0px 0px 5px;
}

nav .navitems:not(#actn):hover > #actn{
  color: var(--font)!important;
  transition: all 500ms ease-out;
  box-shadow: 0px 0px 5px;
}

.sidepop {
  position: fixed;
  right: 0;
  height: 100%;
  margin-top: 60px;
  width: 0%;
  z-index: 2;
  background-color: var(--blackt);
  transition: none 300ms ease-out;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;
  transition: all 300ms ease-out;
  width: 0%;
}

.sidepop .sidei {
  color: var(--font);
  text-align: right;
  font-family: "Major Mono Display", monospace;
  font-weight: 100;
  font-size: 0.75em;
  text-align: right;
  width: 1005;
  transition: all 300ms ease-out;
  padding: 25px 30px;
  display: block;
}

.sidepop #acts {
  color: var(--active);
  background-color: var(--activeb);
}

.sidepop .sidei:hover {
  transition: all 500ms ease-in;
  background-color: var(--hilb)!important;
  color: var(--hili)!important;
}

nav #burg {
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 13px;
  margin-right: 30px;
  opacity: 0;
  pointer-events: none;
  width: 220px;
  transition: all 500ms ease-out;
}

#burg div {
  background-color: var(--font)!important;
  border-radius: 10px;
  height: 2px;
  margin: 6px 0px;
  width: 100%;
  transition: all 300ms ease-out;
}

nav #burg:hover > .burger {
  transition: all 300ms ease-out;
}

#logo {
  background-color: var(--blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: inline-start;
  margin: 15px 20px 20px 25px;
}

#ytape {
  font-family: "Major Mono Display", monospace;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
  top: 32vh;
  padding: 3vh 0 3vh 0px;
  transition: all 500ms ease-out;
  background-color: #00000063;
  width: 100%;
  position: fixed;
  pointer-events: none;
}

*::-webkit-scrollbar {
  width: 0;
}

#container3D {
  position: fixed;
  margin-top: 70px;
  inset: 0;
  z-index: -1;
}

button {
  float: inline-end;
  border-color: rgba(240, 248, 255, 0);
  border-radius: 20px;
  background-color: rgb(104, 230, 223);
  font-family: "Major Mono Display", monospace;
  position: absolute;
  border: 20px;
  font-weight: 500;
  border-style: none;
  right: 0;
  bottom: 0;
  margin: 2em;
  max-width: 16em;
  width: 20vw;
  min-width: 7em;
  transition: all 500ms ease-out;
  max-height: 6vh;
  min-height: 4vh;
  box-shadow: 0px 0px 10px #00000033;
}

#ref {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 30px;
  font-family: "Major Mono Display", monospace;
  font-weight: 100;
  font-size: 0.6em;
  transition: all 500ms ease-out;
  color: var(--font)!important;
  pointer-events: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.473);
}

#instr {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 30px;
  margin-bottom: 100px;
  font-family: "Major Mono Display", monospace;
  font-weight: 100;
  font-size: 1em;
  transition: all 500ms ease-out;
  pointer-events: none;
  color: var(--font)!important;
  text-shadow: 0px 0px 3px #00000048;
}

#instr1 {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 30px 30px 60px 30px;
  font-family: "Major Mono Display", monospace;
  font-weight: 100;
  font-size: 0.7em;
  transition: all 500ms ease-out;
  pointer-events: none;
  color: var(--font)!important;
  text-shadow: 0px 0px 5px #0000006c;
}

button:hover {
  transition-duration: 10ms;
  background-color: rgb(198, 255, 243);
  border-color: white;
  transition: all 500ms ease-out;
}

.abt {
  color: var(--font);
  font-family: "Major Mono Display", monospace;
  margin-top: 70px;
}

.abt h1 {
  font-size: 20px;
}

.invis {
  display: none;
}

/* Animations*/
@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Tablet */
@media screen and (max-width: 1080px) {
  #ytape {
    font-size: 5vw;
  }

  .navitems {
    transition: all 500ms ease-out;
    opacity: 1;
    pointer-events: all;
    width: 75px;
  }

  nav #burg {
    width: 220px;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease-out;
  }
}

/* Phone */
@media screen and (max-width: 720px) {
  #ytape {
    font-size: 6vw;
  }

  .topnav {
    transition: all 500ms ease-out;
    margin-right: 50px;
  }

  .navitems {
    transition: all 500ms ease-out;
    opacity: 0;
    pointer-events: none;
    width: 15px;
  }

  nav #burg {
    width: 30px;
    opacity: 1;
    pointer-events: all;
    transition: all 500ms ease-out;
  }

  #instr {
    font-size: 0.8em;
    margin-bottom: 6.8em;
  }

  #instr1 {
    font-size: 0.6em;
    margin-bottom: 5.5em;
  }

  #ref {
    font-size: 0.5em;
  }

  button {
    min-height: 3em;
  }
}

@media screen and (max-width: 420px) {
  #ref {
    opacity: 0;
    transition: all 200ms ease-out;
  }

  #instr {
    opacity: 0;
    transition: all 200ms ease-out;
  }

  #instr1 {
    opacity: 0;
    transition: all 200ms ease-out;
  }

  button {
    font-size: 0.7em;
    min-width: 90px;
  }
}

@media screen and (max-height: 720px) {
  #ytape {
    font-size: 4vh;
    margin-top: 30vh;
  }

  button {
    font-size: 0.65em;
  }

  #ref {
    transition: all 200ms ease-out;
    font-size: 0.4em;
    margin-bottom: 3.5em;
  }

  #instr {
    transition: all 200ms ease-out;
    font-size: 0.6em;
    margin-bottom: 7em;
  }

  #instr1 {
    transition: all 200ms ease-out;
    font-size: 0.5em;
    margin-bottom: 5em;
  }
}

@media screen and (max-height: 420px) {
  #ytape {
    margin-top: 30vh;
    font-size: 6vh;
  }

  #ref,
  #instr,
  #instr1 {
    opacity: 0;
  }
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}